.card {
	background: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 10px 0px 10px 0px;
	padding: 15px 0px;
}


.btn-card-options.Red { background-color: #F44336 }
.btn-card-options.Pink { background-color: #E91E63 }
.btn-card-options.Purple { background-color: #9C27B0 }
.btn-card-options.DeepPurple { background-color: #673AB7 }
.btn-card-options.Indigo { background-color: #3F51B5 }
.btn-card-options.Blue { background-color: #2196F3 }
.btn-card-options.LightBlue { background-color: #03A9F4 }
.btn-card-options.Cyan { background-color: #00BCD4 }
.btn-card-options.Teal { background-color: #009688 }
.btn-card-options.Green { background-color: #4CAF50 }
.btn-card-options.LightGreen { background-color: #8BC34A }
.btn-card-options.Lime { background-color: #CDDC39 }
.btn-card-options.Yellow { background-color: #FFEB3B }
.btn-card-options.Amber { background-color: #FFC107 }
.btn-card-options.Orange { background-color: #FF9800 }
.btn-card-options.DeepOrange { background-color: #FF5722 }
.btn-card-options.Brown { background-color: #795548 }

.card.Red { background-color: #F44336 }
.card.Pink { background-color: #E91E63 }
.card.Purple { background-color: #9C27B0 }
.card.DeepPurple { background-color: #673AB7 }
.card.Indigo { background-color: #3F51B5 }
.card.Blue { background-color: #2196F3 }
.card.LightBlue { background-color: #03A9F4 }
.card.Cyan { background-color: #00BCD4 }
.card.Teal { background-color: #009688 }
.card.Green { background-color: #4CAF50 }
.card.LightGreen { background-color: #8BC34A }
.card.Lime { background-color: #CDDC39 }
.card.Yellow { background-color: #FFEB3B }
.card.Amber { background-color: #FFC107 }
.card.Orange { background-color: #FF9800 }
.card.DeepOrange { background-color: #FF5722 }
.card.Brown { background-color: #795548 } 


.doing-section .card {
	/*padding: 0;*/
}

